.project-title {
    color: #ff5050;
    text-align: center;
    font-size: 8vh;
    font-family: 'Ms Madi';
    margin-top: 1em;
    /* font-family: 'Comforter brush'; */
    /* font-family: 'Broadway'; */

}

.projects-container {
    margin: 6em auto 0 auto;
}



.project-img-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}




