.landing-header-container {
    margin-top: 25vh;
    color: #ff5050;
    text-align: center;
}

.landing-header {
    font-family: 'Ms Madi';
    font-size: 7vh;
}

.landing-subheader {
    font-family: 'broadway';
}

@media only screen and (max-width: 400px) {
    .landing-header-container {
        margin-top: 0;
    }

    .landing-header {
        font-size: 5vh;
        
    }

    .landing-subheader {
        font-size: 2.5vh;
    }
}


